/*Base*/
body {
    margin: 0;
    padding: 0;
    background-color: #F0E3DA;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
h2 {
    font-size: 2.5em;
    color: #E89468;
    margin-bottom: 10px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    text-align: center;
}
p {
    font-size: 1em;
    color: #888888;
    text-align: center;
}
img {
    width: auto;
    background: transparent;
}

/*Section 1 (Navbar)*/
nav {
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 3px;
    z-index: 1000;
    position: sticky;
    top: 0;
    height: 60px;
}

nav a {
    color: #E89468;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #E89468;
    font-weight: bold;
}

/*Circle*/
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top:-30px;
    position: relative;
    z-index: -1;
    height: 400px;
}
.circle {
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 700px;
    z-index: 4;
}
.circle h2 {
    margin: 5px 15px;
    font-size: 16px;
}
.circle p {
    margin: 5px 20px;
    font-size: 12px;
    color: #888888;
}

.circle img {
    height: 80px;
    margin-bottom: 8px;
}

/*Box*/
.box2 {
    width: 200px;
    height: 500px;
    position: relative;
    margin-left: 120px;
    margin-right: 120px;
    top: 80px;
    background-image: url("https://s.yimg.com/lo/api/res/1.2/BttmgdCgHq.ItZQLiZHe1A--/YXBwaWQ9ZWNfaG9yaXpvbnRhbDtoPTQwMDtzcz0xO3c9NDAw/https://m.media-amazon.com/images/I/51LEtmjJHOL._SL500_.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box3 {
    width: 200px;
    height: 300px;
    position: relative;
    margin-left: 330px;
    top: -420px;
    margin-right: 120px;
    background-image: url("https://i.pinimg.com/736x/85/1a/b4/851ab40313c8a261f5def16ab23ee8a9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.box4 {
    width: 200px;
    height: 190px;
    position: relative;
    background-color: transparent;
    margin-left: 330px;
    top: -410px;
    border-radius: 10px;
}

/*Container*/
.container {
    display: flex;
}
.container2 {
    margin-top: 300px;
}
.text-container {
    position: absolute;
    top: 45%;
    left: 12%;
    right: 55%;
    transform: translate(0%, -50%);
}
.image-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -540px;
    margin-left: 500px;
}
.container5 {
    margin-top: -200px;
}

.container5 h2 {
    position: absolute;
    left: 600px;
    top: 1100px;
}

.container5 p {
    position: absolute;
    left: 600px;
    top: 1170px;
    right: 200px;
    text-align: left;
    font-size: 16px;
}

.main-content {
    flex: 1;
    padding: 20px;
}


#logo {
    width: 50px;
    height: auto;
    margin-right: 60px;
    margin-left: 130px;
}
.login-btn {
    background-color: #E89468;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 580px;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.login-btn:hover {
    background-color: #ffffff;
    color: #E89468;
    border: 2px solid #E89468;
}

.signup-btn {
    color: #E89468;
    background-color: transparent;
    border: 2px solid #E89468;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.signup-btn:hover {
    background-color: #E89468;
    color: #fff;
    border: 2px solid #fff;
}

.abstract-shape {
    width: 40%;
    height: 50%;
    margin-top: 90px;
    margin-left: 120px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 95% 95% 85% 95%/95% 85% 85% 95%;
}

.button1 {
    background-color: #39AE93;
    color: #fff;
    padding: 8px 40px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    margin-left: 180px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.button1:hover {
    background-color: #ffffff;
    color: #32AE96;
    border: 2px solid #32AE96;
}


.button3 {
    background-color: #39AE93;
    color: #fff;
    padding: 8px 40px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    margin-left: 180px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.button3:hover {
    background-color: #ffffff;
    color: #32AE96;
    border: 2px solid #32AE96;
}

.flower {
    position: relative;
    left: 5%;
    top: 300px;
}

.flower::after,
.flower::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 60px;
    border-radius: 10px;
}

.flower::before {
    transform: rotate(45deg);
}

.flower::after {
    transform: rotate(-45deg);
}

.flower.red::after,
.flower.red::before {
    background-color: #E6B364;
}

.flower.red {
    background-color: #E6B364;
    left: 93%;
    top: 300px;
}

.flower.red1::after,
.flower.red1::before {
    background-color: #E6B364;
}

.flower.red1 {
    background-color: #E6B364;
    left: 50%;
    top: 30px;
}

.flower.blue::after,
.flower.blue::before {
    background-color: #32AE96;
}

.flower.blue {
    background-color: #32AE96;
    left: 15%;
    top: 450px;
}

.flower.blue1::after,
.flower.blue1::before {
    background-color: #32AE96;
}

.flower.blue1 {
    background-color: #32AE96;
    left: 85%;
    top: 65px;
}

.flower.green::after,
.flower.green::before {
    background-color: #C1DAD7;
}
.flower.green {
    background-color: #C1DAD7;
    left: 5%;
    top: 120px;
}
.colored-box {
    background-color: #E89468;
    height: 180px;
    width: 100%;
    position: relative;
    top: 535px;
    z-index: -1;
}

.flex_row {
    display: flex;
    gap: 0 10px;
    height: 73px;
    justify-content: space-between;
    left: 27px;
    position: absolute;
    top: 0;
    width: 1240px;
}
.highlight3 {
    border-radius: 15px 15px 15px 15px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 31px 0 0;
    padding: 8px 68px 10px 69px;
    text-align: center;
    width: 213px;
}
.wrapper {
    display: flex;
    justify-content: center;
    gap: 0 35px;
    height: 570px;
    left: 0;
    position: absolute;
    top: 120px;
    width: 1294px;
}

.wrapper8 {
    display: flex;
    justify-content: center;
    gap: 0 35px;
    height: 570px;
    left: 0;
    top: 20px;
    width: 1294px;
}

h4 {
    font-size: 15px;
    font-weight: thin;
}

.medium_title4 {
    color: white;
    margin: 30px 0 0;
    font-size: 35px;
    text-shadow: 
        -5px -5px 0 #e9916c,
        5px -5px 0 #e9916c,
        -5px 5px 0 #e9916c,
        5px 5px 0 #e9916c;
}

.highlight21 {
    color: white;
    width: 95.28%;
}

.medium_title5 {
    color: white;
    margin: 26px 0 0;
    font-size: 35px;
    text-shadow: 
        -5px -5px 0 #e9916c,
        5px -5px 0 #e9916c,
        -5px 5px 0 #e9916c,
        5px 5px 0 #e9916c;
}

.medium_title6 {
    color: white;
    margin: 26px 0 0;
    font-size: 35px;
    text-shadow: 
        -5px -5px 0 #e9916c,
        5px -5px 0 #e9916c,
        -5px 5px 0 #e9916c,
        5px 5px 0 #e9916c;
}

.highlight22 {
    color: white;
    margin: 10px 0 0;
    width: 92.13%;
}
.wrapper3 {
    background-color: #e9916c;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 400px;
}
.medium_title3 {
    color: white;
    margin: 19px 0 0;
    font-size: 28px;
}

.medium_title2 {
    color: white;
    margin: 30px 0 0;
    font-size: 28px;
}

.medium_title {
    color: white;
    margin: 30px 0 0;
    font-size: 28px;
}
.highlight23 {
    color: white;
    margin: 16px 0 0;
    width: 92.49%;
}
.flex_row_right {
    display: flex;
    gap: 0 10px;
    height: 73px;
    justify-content: space-between;
    align-items: center;
    right: 27px;
    position: absolute;
    top: 0;
    width: 1240px;
}

/*Image*/
.img1 {
    max-height: 200px;
    width: auto;
    right: 5px;
}
.image4 {
    border-radius: 100px 100px 100px 100px;
    width: 100%;
}
.image5 {
    border-radius: 100px 100px 100px 100px;
    width: 100%;
}
.image6 {
    border-radius: 100px 100px 100px 100px;
    width: 100%;
}

/*Section4*/
.section4 {
    display: flex;
    flex-direction: column;
}

.section41 {
    display: flex;
    flex-direction: column;
    height: 663px;
    margin: 64px 73px 53px;
    min-height: 663px;
    position: relative;
    width: 1294px;
    margin-top: 200px;
}
.section41 .wrapper1 {
    background-color: #e9916c;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 412px;
}
.section41 .wrapper2 {
    background-color: #e9916c;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 412px;
}
.section41 .flex_col1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 33px 62px 40px;
}
.section41 .flex_col2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 34px 35px 68px 34px;
}
.section41 .flex_col3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 34px 34px 46px 33px;
}


.section41 button{
    border-radius: 20px;
    background-color: #32AE96;
    color: white;
    border: none;
    font-size: 18px;
    width: 175px;
    height: 40px;
    margin-top: 35px;
}



/*Section5*/
.section5{
    display: flex;
    flex-direction: column;
}
.section51 {
    display: flex;
    flex-direction: column;
    height: 663px;
    margin: 64px 73px 53px;
    min-height: 663px;
    position: relative;
    width: 1294px;
    margin-top: 200px;
}
.section51 .wrapper1 {
    background-image: url(https://id-test-11.slatic.net/p/a9f31878e54307b783c21801268fef6f.jpg);
    border-radius: 100px;
    border: 20px #e9916c solid;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 200px;
    justify-content: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.section51 .wrapper2 {
    background-image: url(https://assets.boots.com/content/dam/boots/brands/brand---j/johnson-baby/johnson-baby-bt/johnson-baby-bt-02-2023/2023-01_johnson%27s_brand-treatment_gentle-on-skin_100-foreground_in-body_discover-which-products-are-right.dam.ts%3D1677506662215.jpg);
    border-radius: 100px;
    border: 20px #e9916c solid;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 200px;
    justify-content: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.section51 .flex_col1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px 33px 62px 40px;
}
.section51 .flex_col2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 34px 35px 68px 34px;
}

.section51 .wrapper4 {
    background-image: url(https://mitra-asia.com/uploads/img/product/zwitsal-baby-set-product-3112.png);
    border-radius: 100px;
    border: 20px #e9916c solid;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 200px;
    justify-content: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 380px;
}

.section51 .flex_col4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 34px 35px 68px 34px;
}

.section51 button{
    border-radius: 20px;
    background-color: #32AE96;
    color: white;
    border: none;
    font-size: 18px;
    width: 175px;
    height: 40px;
    margin-top: 35px;
}

@media only screen and (max-width: 768px) {
    .main-content {
        padding: 10px;
    }

    .login-btn {
        margin-left: 10px;
    }

    .abstract-shape,
    .flower,
    .image-container img,
    .text-container {
        left: 0;
        margin-left: 0;
        right: 0;
    }
}
